body {
    background-color: rgb(65, 65, 65);
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333333;
    overflow: hidden;    
}

#navTitle {
    display: inline-block;
    font-size: 36px;
    font-family: 'Anton', sans-serif;
    padding: 0;
    margin: 0;
    color: aliceblue;
}

#tweet-counter {
    position: absolute;
    top: 100;
    bottom: 0;
    left: 20px;
    z-index: 1;
    background-color: white;
    opacity: 0.5;
    padding: 3px;
    border-radius: 15px;
}

.logo-img {
    display: inline-block;
    margin: 5px;
}